.custom-panel {
    background-image: none;
    background-color: #999699;
    background-color: rgb(172, 173, 181);
}

.custom-panel-heading {
    background-image: none;
    background-color: #999699;
    background-color: rgb(172, 173, 181);
}
.custom-column {
    margin-top: 50px
}


.murder-panel {
}
